<h1>If you see this in /ask, i'm doing something correctly</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="ask, we'll see what happens">
  <input type="submit" value="Ask!">
</form>
